*,*::before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
img{
    max-width: 100%;
}
header{
    background: rgb(226,226,227);
    background: linear-gradient(0deg, rgba(226,226,227,1) 0%, rgba(254,254,255,1) 48%);
    padding: 30px 0px;
}
footer{
    background: rgb(2,28,62);
    font-size: 1rem;
    padding: .3em;
}
main{
    background: rgb(238,242,255);
    padding: 30px 0px;
    margin: 0;
}
.row1{
    display: flex;
    justify-content: center;
}
.row2{
    display: flex;
}
.btn{
    display: flex;
    justify-content: flex-end;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo_container{
    align-self: center;
    margin-right: 1em;
}

h1,
h2{
    font-family: 'Roboto',sans-serif;
}
.chatBox_Title{
    margin-top: .5em;
}

.chatBox_header{
    background: rgb(65,117,252);
    background: linear-gradient(180deg, rgba(65,117,252,1) 0%, rgba(38,95,245,1) 37%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.profile_pic--container{
    width: 90px;
    padding: 0.75em;
}
.profile_pic{
    width: 100%;
}
.name{
    font-size: 1.2rem;
    color: white;
    align-self: center;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}
#chatBox_content {
    overflow-y: auto;
}
.chatBox_body{
    background-color: #FFF;
    padding: 2em;
    height: 500px;
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.bot_message{
    text-align: left;
    /* position: relative; */
}
.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: rgb(234,243,255);
    padding: 0.6em;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 50%;
    animation: floatup .5s forwards;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
}
.user_message{
    text-align: right;
    /* position: relative; */
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: rgb(234,243,255);
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 50%;
    animation: floatup .5s forwards;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
}

.name--text,
.date--text,
.botText,
.userText{
    margin: 0;
}
.date--text{
    color: grey;
    font-size: 1rem;
}
.name--text{
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
}

.message_input{
    background-color: white;
    padding: 2em;
    margin-top: 1.5px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
textarea{
    width: 100%;
    border: 0;
    resize: vertical;
    min-height: 100px;
}

.send_Button{
    background: rgb(65,117,252);
    background: linear-gradient(180deg, rgba(65,117,252,1) 0%, rgba(38,95,245,1) 37%);
    color: #FFF;
    width: 8em;
    padding: 1em;
    border-radius: 10px;
    border: 0;
    position: relative;
}
.send_text{
    margin: 0 auto;
}
.icon {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 17px; /* Adjust the width of your icon */
    height: 15px; /* Adjust the height of your icon */
    background: url('chatbox_elements/chatbox_elements_/send.png') center/cover no-repeat;
    display: inline-block;
}

.send_Button:hover{
    opacity: .75;
}


.send_text{
    font-weight: bold;
}


.footer_text{
    color: grey;
    text-align: center;
}

@media (max-width: 700px){
    .botText span {
        font-size: 0.8rem;
    }

    .userText span {
        font-size: 0.8rem;
    }

    .name--text{
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        font-size: 0.8rem;
    }

    .date--text{
        font-size: 0.8rem;
    }
}


